{% extends "landing/base_analytics.html" %}
{% block title %}{% block og_title %}Phyro Server | Agencia Creativo Digital
{% endblock %}{% endblock %}
{% block rel_canonical%}{% block og_url %}http://phyroserver.com{%endblock%}{%endblock%}
{% block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Agencia de Desarrollo Web y Mkt Dígital. El lugar donde se desarrollan tus ideas: Creamos tu nueva tienda online, damos vida a tu proyecto digital o te ayudamos a cambiar al mundo con tu startup. {% endblock %} {% endblock %}
{% block keywords %}Diseño y Desarrollo Web, Marketing Online, UX, UI, Asesorias{% endblock %}
{% block morecss %}
<link rel="stylesheet" href="{{STATIC_URL}}landing/css/miestilo.css">
{% endblock morecss %}
<!-- body-->
{% block contenido %}
    

{%endblock%}
{% block customjs %}
<script src="{{STATIC_URL}}landing/js/home.js"></script>
{% endblock %}