{% extends "landing/landing2/base_analytics.html" %}
{% block title %}{% block og_title %}Phyro Server | Agencia Creativo Digital
{% endblock %}{% endblock %}
{% block rel_canonical%}{% block og_url %}http://phyroserver.com{%endblock%}{%endblock%}
{% block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Agencia de Desarrollo Web y Mkt Dígital. El lugar donde se desarrollan tus ideas: Creamos tu nueva tienda online, damos vida a tu proyecto digital o te ayudamos a cambiar al mundo con tu startup. {% endblock %} {% endblock %}
{% block keywords %}Diseño y Desarrollo Web, Marketing Online, UX, UI, Asesorias{% endblock %}
{% block morecss %}{% endblock morecss %}
<!-- body-->
{% block contenido %}
    <div class="container">
            <div class="codrops-top clearfix">
                <a class="codrops-icon codrops-icon-prev" href="/contacto"><span>Contactanos</span></a>
                <span class="right"><a class="codrops-icon codrops-icon-drop" href="/team"><span>TEAM</span></a></span>
            </div>
            <header id="header" class="codrops-header">
                <h1>Agencia Creativa Digital | Phyro Server</h1>
                <span class="message">Esta versión de mobiles no soporta Slides, Intenta en tu PC.</span>
                <button class="slider-switch">Switch view</button>
            </header>
            <div id="overlay" class="overlay">
                <div class="info">
                    <h2>Bienvenidos Emprendedores</h2>
                    <span class="info-drag">Arrastras los Sliders</span>
                    <span class="info-keys">Usa las Flechas</span>
                    <span class="info-switch">Cambia las vistas</span>
                    <button>Empezemos!</button>    
                </div>
            </div>
            <div id="slideshow" class="dragslider">
                <section class="img-dragger img-dragger-large dragdealer">
                    <div class="handle">
                        <div class="slide" data-content="content-1">
                            <div class="img-wrap"><img src="http://33.media.tumblr.com/5be6a52372f622728adb07566fc1e305/tumblr_n7fgokF2Ul1st5lhmo1_1280.jpg" alt="Diseño y Desarrollo Web"/></div>
                            <h2>Phyro Server<span>El lugar donde se desarrollan tus ideas</span></h2>
                            <button class="content-switch">Leer más</button>
                        </div>
                        <div class="slide" data-content="content-2">
                            <div class="img-wrap"><img src="http://38.media.tumblr.com/e77ef190ff20487acedb1d664a535c1b/tumblr_n8zlzxbFUT1st5lhmo1_1280.jpg" alt="img2"/></div>
                            <h2>Semana del Emprendedor<span>Somos <strong>emprendedores</strong> al igual que tú</span></h2>
                            <button class="content-switch">Leer más</button>
                        </div>
                        <div class="slide" data-content="content-3">
                            <div class="img-wrap"><img src="http://33.media.tumblr.com/56a9757318c0f2ed1c1c687f254b2fb8/tumblr_mopqkkwK2M1st5lhmo1_1280.jpg" alt="Estrategias Digitales para tu Empresa"/></div>
                            <h2>Estrategia Digital <span>Dale voz a tu increíble proyecto</span></h2>
                            <button class="content-switch">Leer más</button>
                        </div>
                        <div class="slide" data-content="content-4">
                            <div class="img-wrap"><img src="http://37.media.tumblr.com/eca0d43885d84763c28c47a1c686defd/tumblr_mvyxfkaRb41st5lhmo1_1280.jpg" alt="Ecommerce"/></div>
                            <h2>Ecommerce <span>Te ayudamos a crear tu primera tienda online</span></h2>
                            <button class="content-switch">Leer más</button>
                        </div>
                        <div class="slide" data-content="content-5">
                            <div class="img-wrap"><img src="http://31.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" alt="img5"/></div>
                            <h2>Phyro Lab/Blog <span>Dale un vistazo a todo lo que estamos haciendo. </span></h2>
                            <button class="content-switch">Leer más</button>
                        </div>
                        <div class="slide" data-content="content-6">
                            <div class="img-wrap"><img src="{{STATIC_URL}}landing2/img/6.jpg" alt="img6"/></div>
                            <h2>Coticachi <span>Amor por nuestras manos</span></h2>
                            <button class="content-switch">Leer más</button>
                        </div>
                        <div class="slide" data-content="content-7">
                            <div class="img-wrap"><img src="http://37.media.tumblr.com/a408ad9af259cf827ed4599d60bcb0a9/tumblr_myebwtELvb1st5lhmo1_1280.jpg" alt="img7"/></div>
                            <h2>Team<span>Conoce nuestro equipo creativo digital</span></h2>
                            <button class="content-switch">Leer más</button>
                        </div>
                        <div class="slide" data-content="content-8">
                            <div class="img-wrap"><img src="{{STATIC_URL}}landing2/img/8.jpg" alt="img8"/></div>
                            <h2>Contacto <span>Mantente en contacto con nosotros</span></h2>
                            <button class="content-switch">Leer más</button>
                        </div>
                    </div>
                </section><!-- /img-dragger-->
                <!-- Content section -->
                <section class="pages">
                    <div class="content" data-content="content-1">
                        <h2>Phyro Server<span>El lugar donde se desarrollan tus ideas</span></h2>
                        <p>Somos la agencia creativa digital donde desarrollamos tus ideas, tenemos las herramientas y personas que tu empresa necesita, para cada una de las etapas en las que te encuentres.</p>
                        
                        <p class="related">
                            Quieres saber más <a href="/">Ecommerce</a>
                        </p>
                    </div>
                    <div class="content" data-content="content-2">
                        <h2>Semana del Emprendedor <span>Somos <strong>emprendedores</strong> al igual que tú</span></h2>
                        <p>ESTAMOS EN LA SEMANA DEL EMPRENDEDOR</p>
                        <p>Al contarnos de tu proyecto te regalamos 1 asesoría con nosotros para que juntos descubramos el potencial de tu proyecto.</p>
                        
                        <p class="related">
                            Quieres saber más <a href="/">Desarrollo Web</a>
                        </p>
                    </div>
                    <div class="content" data-content="content-3">
                        <h2>Estrategia Dígital <span>Dale voz a tu increíble proyecto</span></h2>
                        <p>Creamos las herramientas que necesitas, adecuandonos a tu mercado potencial, su contexto y forma de pensar.</p>
                        <p><strong>Hacemos</strong></p>
                        <ul>
                            <li>Campañas de emailing</li>
                            <li>Apps Mobiles</li>
                            <li>Estrategia Digital y Tradicional</li>
                            <li>Desarrollo de CRM</li>
                            <li>Posicionamiento Web</li>
                            <li>Asesoria y Mentoria</li>
                            <li>Estilo visual y comunicación en Redes Sociales</li>
                        </ul>
                     
                        <p class="related">
                            Quieres saber más <a href="/">Semana del Emprendedor</a>
                        </p>
                    </div>
                    <div class="content" data-content="content-4">
                        <h2>Ecommerce <span>Te ayudamos a crear tu primera tienda online</span></h2>
                        <p>Crea tu primer tienda en línea con django cms, uno de los gestores de contenido más sencillos, visualmente atractivos y fácil de administrar. </p>
                        <p>Integrado con métodos de pago <a href="https://www.conekta.io/es/">conekta.io</a></p>
                        
                        <p class="related">
                            Quieres saber más <a href="/">DIseño UX</a>
                        </p>
                    </div>
                    <div class="content" data-content="content-5">
                        <h2>Phyro Lab/Blog <span>Dale un vistazo a todo lo que estamos haciendo. </span></h2>
                        <p>Estos son los proyectos y personas con las que estamos trabajando, además de los tips, tecnologías que nos encantan y personas que inspiran en la red, el phyro lab es un buen sitio para conocer.</p>
                        
                        <p class="related">
                            Quieres saber más <a href="http://blog.phyroserver.com">Phyro Lab / BLOG</a>
                        </p>
                    </div>
                    <div class="content" data-content="content-6">
                        <h2>Coticachi <span>Amor por nuestras manos</span></h2>
                        <p>Semana del emprendedor. Somos una organización social donde nos interesa valorar el trabajo de nuestros artesanos. Buscando las herramientas, tecnologías y grupos sociales que impulsen de manera justa y responsable las artesanías de mexicanas.</p>
                        <p>Somos un grupo de jóvenes emprendedores al igual que tu, estamos en la semana del emprendedor con el objetivo de encontrar personas al cual estén interesadas en uso de las tecnologías informáticas y en el desarrollo de una comunidad artesanal en internet, creando alianzas para dar un impulso a estas actividades de manera justa y responsable.</p>

                        <p>Dónde? Estando en el extranjero (Francia) aprendes a apreciar más tus raíces, tu cultura y tu pueblo.</p>
                        <p>Cuándo? Al hacer servicio social y prácticas laborales en la comunidades indígenas de Chiapas te das cuenta que hay muchos jovenes como tu que deberían tener las mismas oportunidades que tiene un joven que vive en la ciudad, desgraciadamente en el mayor de los casos su entorno no las tiene y son limitados por este aspecto. En otras ocasiones les gusta seguir con la cultura y tradiciones que sus padres les han dejado pero por lo general estas actividades son mal pagadas y valoras por la población en general orillando los a dedicarse  a otras actividades.</p>
                        <p>Comó? La intención del proyecto es usar la tecnología e introducir nuestras tradiciones y cultura al mundo de ahora, un mundo rápido y globalizado donde hay un número de oportunidades pero cada vez hay que estar más despierto para estar dentro de la corriente en las actividades demandadas en la actualidad.</p>
                        <p>Quién? Creemos que la unión es el elemento clave, buscamos integrar a los artesanos en comunidad para que puedan alzar su voz para que sean escuchados por México y la comunidad extranjera. El grupo Coticachi buscará por medio de la tecnología y las comunidades llevar a cabo este proyecto.</p>
                        <p>Por qué? Porque amamos a nuestro país y su pueblo, creemos en el trabajo humano y buscamos oportunidades justas para todos.</p>
                        <p></p>
                        <p class="related">
                            Quieres saber más <a href="http://blog.phyroserver.com">Phyro Lab / BLOG</a>
                        </p>
                    </div>
                    <div class="content" data-content="content-7">
                        <h2>TEAM <span>Conoce nuestro equipo creativo Digital :D</span></h2>
                        <p>Estos son nuestros actuales integrantes</p>
                        <ul>
                            <li>ISC Luciano Marcos Solis </li>
                            <li>ISC Fatima Hernandez Hernandez</li>
                            <li>ISC Jesús Alvarado Garzón</li>
                            <li>MKT ALen Lopez Castillo</li>
                            
                        </ul>
                        
                        <p class="related">
                            Quieres saber más <a href="http://blog.phyroserver.com">Phyro Lab / BLOG</a>
                        </p>
                    </div>
                    <div class="content" data-content="content-8">
                        <h2>Contacto <span>Mantente en contacto con nosotros.</span></h2>
                        <p>No olivdes mantenerte en contacto para cualquier duda, aclaración o sugerencia</p>
                        <p class="related">
                            Quieres saber más <a href="http://blog.phyroserver.com">Phyro Lab / BLOG</a>
                        </p>
                    </div>
                </section>
            </div>
        </div><!-- /container --> 

{%endblock%}
{% block customjs %}{% endblock %}